Output version and uptime
------------------------------------
{{ results.stdout[0] }}


Output routing table OSPF and BGP
------------------------------------
{{ results.stdout[1] }}


Output neighbors
------------------------------------
{{ results.stdout[2] }}


Output ARP table
------------------------------------
{{ results.stdout[3] }}


Output interface brief
------------------------------------
{{ results.stdout[4] }}

Output OSPF neighbors
------------------------------------
{{ results.stdout[5] }}

Output BGP neighbors
------------------------------------
{{ results.stdout[6] }}
